---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif;
$base-font-size:   12px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #484848;
$background-color: #ffffff;
$brand-color:      #007aff;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting"
;

// Splash Screen
.splash {
    text-align: center;
	h1 { font-size: 39px; }
	img { height: 190px; width: 190px; }
}

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}

// Match h1 to Apple
h1 {
	font-size: 27px;
	line-height: 1.2;
	margin-bottom: 1em;
}

// Match icon to Apple
.bookIcon {
	float: left;
	position: relative;
	top: 1px;
	padding-right: 10px;
}

// Match anchor styles to Apple
a {
	&:hover {
		color: $brand-color;
	}
	&:visited {
		color: $brand-color;
	}
}

// Match header and main to Apple
header {
	position: fixed;
	top: 0;	left: 0; bottom: 0;	width: 210px;
	overflow-y: auto;
	
	border-right: 1px solid $grey-color-light;
}

main {
	position: fixed;
	top: 0; bottom: 0; left: 210px; right: 0;
	overflow-y: auto;
	
}

nav ul {
    list-style: none;
	margin: 0;
	padding-top: 0.5em;
	li {
		line-height: 17px;
		&.active {
			background-color: $grey-color-light;
		}
	}
}

nav ul a {
	display: block;
	padding: 0.5em 0em 0.5em 1em;
	color: $text-color;
	&:visited {
		color: $text-color;
	}
	&:hover {
		text-decoration: none;
		color: $brand-color;
	}
}

nav ul ul a {
	padding-left: 2em;
}

article {
	max-width: 596px;
	padding: 75px 63px;
}

table {
    width: 100%;
}